

      <!-- SITE TITTLE -->
{{!--     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Step # 01 - BIGBAG Store</title> --}}
    
    <!-- PLUGINS CSS STYLE -->
    <link href="static/plugins/jquery-ui/jquery-ui.css" rel="stylesheet">
    {{!-- <link href="static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"> --}}
    <link href="static/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/plugins/selectbox/select_option1.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/plugins/rs-plugin/css/settings.css" media="screen">
    <link rel="stylesheet" type="text/css" href="static/plugins/owl-carousel/owl.carousel.css" media="screen">

    <!-- GOOGLE FONT -->
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    
    <!-- CUSTOM CSS -->
    {{!-- <link href="static/css/checkout-style.css" rel="stylesheet"> --}}
    <link rel="stylesheet" href="static/css/colors/default.css" id="option_color">

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/business-casual.css" rel="stylesheet">

    {{!-- my css --}}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <div class="main-wrapper">
      
      <!-- MAIN CONTENT SECTION -->
      <section class="mainContent clearfix stepsWrapper">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="innerWrapper clearfix stepsPage">
                <div class="row progress-wizard" style="border-bottom:0;">

                  <div class="col-xs-4 progress-wizard-step complete">
                    <div class="text-center progress-wizard-stepnum">Billing &amp; Shipping Address</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    {{!-- <a href="/checkout-step-1" class="progress-wizard-dot"></a> --}}
                    <span class="progress-wizard-dot"></span>
                  </div>

                  <div class="col-xs-4 progress-wizard-step disabled">
                    <div class="text-center progress-wizard-stepnum">Payment Method</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    {{!-- <a href="/checkout-step-3" class="progress-wizard-dot"></a> --}}
                    <span class="progress-wizard-dot"></span>
                  </div>

                  <div class="col-xs-4 progress-wizard-step disabled">
                    <div class="text-center progress-wizard-stepnum">Review</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    {{!-- <a href="/checkout-step-4" class="progress-wizard-dot"></a> --}}
                    <span class="progress-wizard-dot"></span>
                  </div>
                </div>
                
                {{!-- <form action="" class="row billingShipping" method="POST" role="form"> --}}
                  <form action='/checkout-step-2' method='POST' class="row billingShipping">
                  <input type='hidden' name='orderInfo' value={{orderInfo}}>
                  <div class="col-xs-12">
                    <div class="page-header">
                      <h4>Billing information</h4>
                    </div>
                  </div>
                  <div class="form-group col-sm-6 col-xs-12">
                    <label for="">First Name</label>
                    <input type="text" class="form-control" name='billingFirstName' id="">
                  </div>
                  <div class="form-group col-sm-6 col-xs-12">
                    <label for="">Last Name</label>
                    <input type="text" class="form-control" name='billingLastName' id="">
                  </div>
                  <div class="form-group col-sm-6 col-xs-12">
                    <label for="">Email</label>
                    <input type="email" class="form-control" name='billingEmail' id="">
                  </div>
                  <div class="form-group col-sm-6 col-xs-12">
                    <label for="">Company</label>
                    <input type="text" class="form-control" name='billingCompany' id="">
                  </div>
                  <div class="form-group col-sm-6 col-xs-12">
                    <label for="">Address</label>
                    <input type="text" class="form-control" name='billingAddress' id="">
                  </div>
                  <div class="form-group col-sm-6 col-xs-12">
                    <label for="">Phone</label>
                    <input type="text" class="form-control" name='billingPhone' id="">
                  </div>
                  <div class="form-group col-sm-6 col-xs-12">
                    <label for="">City</label>
                    <input type="text" class="form-control" name='billingCity' id="">
                  </div>
                  <div class="form-group col-sm-6 col-xs-12">
                    <label for="">State</label>
                    <input type="text" class="form-control" name='billingState' id="">
                  </div>
                  <div class="form-group col-sm-6 col-xs-12">
                    <label for="">Zip Code</label>
                    <input type="text" class="form-control" name='billingZipCode' id="">
                  </div>
                  <div class="form-group col-sm-6 col-xs-12">
                    <label for="">Country</label>
                    <input type="text" class="form-control" name='billingCountry' id="">
                  </div>
{{!--                   <div class="form-group col-sm-6 col-xs-12">
                    <label for="">First Name</label>
                    <textarea class="form-control"></textarea>
                  </div> --}}
                  <div class="col-xs-12">
                    <div class="page-header">
                      <h4>Shipping information</h4>
                    </div>
                  </div>
{{!--                   <div class="col-xs-12 checkboxArea">
                    <input id="checkbox1" type="checkbox" name="checkbox" value="1" checked="checked">
                    <label for="checkbox1"><span></span>Same as billing Information </label>
                  </div> --}}
                  <div class="form-group col-sm-6 col-xs-12">
                    <label for="">First Name</label>
                    <input type="text" class="form-control" name='shippingFirstName' id="">
                  </div>
                  <div class="form-group col-sm-6 col-xs-12">
                    <label for="">Last Name</label>
                    <input type="text" class="form-control" name='shippingLastName' id="">
                  </div>
                  <div class="form-group col-sm-6 col-xs-12">
                    <label for="">Email</label>
                    <input type="email" class="form-control" name='shippingEmail' id="">
                  </div>
                  <div class="form-group col-sm-6 col-xs-12">
                    <label for="">Company</label>
                    <input type="text" class="form-control" name='shippingCompany' id="">
                  </div>
                  <div class="form-group col-sm-6 col-xs-12">
                    <label for="">Address</label>
                    <input type="text" class="form-control" name='shippingAddress' id="">
                  </div>
                  <div class="form-group col-sm-6 col-xs-12">
                    <label for="">Phone</label>
                    <input type="text" class="form-control" name='shippingPhone' id="">
                  </div>
                  <div class="form-group col-sm-6 col-xs-12">
                    <label for="">City</label>
                    <input type="text" class="form-control" name='shippingCity' id="">
                  </div>
                  <div class="form-group col-sm-6 col-xs-12">
                    <label for="">State</label>
                    <input type="text" class="form-control" name='shippingState' id="">
                  </div>
                  <div class="form-group col-sm-6 col-xs-12">
                    <label for="">Zip Code</label>
                    <input type="text" class="form-control" name='shippingZipCode' id="">
                  </div>
                  <div class="form-group col-sm-6 col-xs-12">
                    <label for="">Country</label>
                    <input type="text" class="form-control" name='shippingCountry' id="">
                  </div>



                  <div class="col-xs-12">
                    <div class="well well-lg clearfix">
                      <ul class="pager">
                        {{!-- <li class="previous"><a href="#" class="hideContent">back</a></li> --}}
                        {{!-- <li class="next1"><a href="/checkout-step-3">Continue</a></li> --}}
                        <button class="next1 btn btn-primary">Continue</button>
                      </ul>
                    </div>
                  </div>


                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="static/plugins/jquery-ui/jquery-ui.js"></script>
    <script src="static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="static/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="static/plugins/owl-carousel/owl.carousel.js"></script>
    <script src="static/plugins/selectbox/jquery.selectbox-0.1.3.min.js"></script>
    <script src="static/plugins/countdown/jquery.syotimer.js"></script>

    <script src="static/javascript/checkout.js"></script>

