    <!-- PLUGINS CSS STYLE -->
    <link href="static/plugins/jquery-ui/jquery-ui.css" rel="stylesheet">
    {{!-- <link href="static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"> --}}
    <link href="static/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/plugins/selectbox/select_option1.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/plugins/rs-plugin/css/settings.css" media="screen">
    <link rel="stylesheet" type="text/css" href="static/plugins/owl-carousel/owl.carousel.css" media="screen">

    <!-- GOOGLE FONT -->
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    
    <!-- CUSTOM CSS -->
    {{!-- <link href="static/css/checkout-style.css" rel="stylesheet"> --}}
    <link rel="stylesheet" href="static/css/colors/default.css" id="option_color">

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/business-casual.css" rel="stylesheet">

    {{!-- my css --}}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <div class="main-wrapper">

      
      <!-- MAIN CONTENT SECTION -->
      <section class="mainContent clearfix setp5">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="thanksContent">
                <h2>Thank You For Your Order <small>You will receive an email of your order details</small></h2>
                <h3>Shipping Details</h3>
                <div class="thanksInner">
                  <div class="row">
                    <div class="col-sm-6 col-xs-12 tableBlcok">
                      <address>
                        <span>Shipping address:</span> <a href="mailto:adamsmith@bigbag.com">adamsmith@bigbag.com</a> <br>
                        <span>Email:</span> <a href="mailto:adamsmith@bigbag.com">adamsmith@bigbag.com</a> <br>
                        <span>Phone:</span> +884 5452 6432
                      </address>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                      <div class="well">
                        <h2><small>Order ID</small>{{data.dataValues.id}}</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="static/plugins/jquery-ui/jquery-ui.js"></script>
    <script src="static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="static/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="static/plugins/owl-carousel/owl.carousel.js"></script>
    <script src="static/plugins/selectbox/jquery.selectbox-0.1.3.min.js"></script>
    <script src="static/plugins/countdown/jquery.syotimer.js"></script>

    <script src="static/javascript/checkout.js"></script>

