    <div class="brand"></div>
    <div class="address-bar">42 Wallaby Way | Sidney, NJ 13838 | 1-800-867-5309</div>

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="https://www.designashirt.com/img/DAS_LOGO21.png.jpg" style="width:1110px;height:317px;" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="http://i2.wp.com/youthgrouptshirts.com/wp-content/uploads/2012/12/930x347-blue.jpg?resize=930%2C347" style="width:1110px;height:317px;" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="http://djigfogczfdpe.cloudfront.net/wp-content/uploads/2015/04/summer-camp-t-shirt-designs.jpg" style="width:1110px;height:317px;" alt="">
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    <h2 class="brand-before">
                        <small>Welcome to</small>
                    </h2>
                    <h1 class="brand-name">Design A Shirt</h1>
                    <hr class="tagline-divider">
                    <h2>
                        <small>By
                            <strong>Gabriel, Ryan, Paul, Heba</strong>
                        </small>
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Create a shirt
                        <strong>worth wearing</strong>
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="http://blog.unitedpixelworkers.com/wp-content/uploads/2013/02/blog_stack1.jpg" alt="">
                    <hr class="visible-xs">
                    <p>In 2015, we set out to change the way custom t-shirts were done. Today, we've perfected our process and are printing millions of shirts a year - each custom designed by you. Expect awesome service. Whether we’re printing custom tees, answering design questions or helping find shirts within your budget, our goal is to make you happy. Simple as that.</p>
                    <p>Just because our products are custom printed, we don't think you should wait weeks to get your order. In stock digital prints are out the door within 24 hours! Customize with confidence, knowing the t-shirt you design will be the one that arrives on your doorstep. If it’s not absolutely perfect, we'll make it right.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Your Website 2016</p>  
                </div>
            </div>
        </div>
    </footer>

    {{!-- my css --}}
    <link rel="stylesheet" type="text/css" href="/static/css/style2.css">

    <!-- jQuery -->
    <script src="static/javascript/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/javascript/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>