<form action="/login" method="post" style="margin-left:500px; margin-top:100px">
  <div>
      <h3 style="color:#47bac1; margin-left:50px; font-weight: bolder;">Please log in</h3>
      <label style="color:#47bac1">Username:</label>
      <input class='login' type="text" name="username"/>
  </div>
  <div>
      <label style="color:#47bac1; margin-left:4.5px;">Password:</label>
      <input class='login' type="password" name="password"/>
  </div>
  <div>
      <input type="submit" class='btn btn-success' style="background:#47bac1;" value="Log In"/>
  </div>
</form>
